<meta charset="UTF-8">
<title>EJS Is Fun</title>

<meta property="og:title" content="<%= meme %>">
<meta property="og:description" content="&#8194 &#8194 &#8194 &#8194 &#8194 &#8194 &#8194 &#8194 &#8194 &#8194">
<meta property="og:image" content="<%= link %>">