<meta charset="UTF-8">
<title>EJS Is Fun</title>

<meta property="og:title" content="&nbsp;">
<meta property="og:description" content="&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;">
<meta property="og:image" content="<%= link %>">
