<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<main>
    <div>
        <div>
            <% for (const [key, value] of Object.entries(emojis)) { %>
            <div>
                <img src="<%= value %>" onclick="myFunction('<%= key %>')"/>
                <span><%= key %></span>
            </div>
            <% }; %>
        </div>
    </div>
</main>

<script>
    function myFunction(key) {
        copy_link(key)
    }

    function copy_link(id) {
        var value = window.location.href + document.getElementById(id).getAttribute("href");
        var input_temp = document.createElement("input");
        input_temp.value = value;
        document.body.appendChild(input_temp);
        input_temp.select();
        document.execCommand("copy");
        document.body.removeChild(input_temp);
    }
</script>

</body>
</html>
