<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <style>
        .list {
            display: flex;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>

<main>
    <div>
        <div class="list">
            <% for (const [key, value] of Object.entries(emojis)) { %>
            <div class="element">
                <div class="img-wrap">
                    <img class="image" src="<%= value %>" onclick="copyLinkToClipboard('<%= key %>')"/>
                </div>
                <span><%= key %></span>
            </div>
            <% }; %>
        </div>
    </div>
</main>

<script>
    function copyLinkToClipboard(key) {
        var value = window.location.href + key;
        var input_temp = document.createElement("input");
        input_temp.value = value;
        document.body.appendChild(input_temp);
        input_temp.select();
        document.execCommand("copy");
        document.body.removeChild(input_temp);
    }
</script>

</body>
</html>
